XavierSandbox/build/.last-used
XavierSandbox/build/build.options.json
XavierSandbox/build/compile_commands.json
XavierSandbox/build/includes.cache
XavierSandbox/build/libraries.cache
XavierSandbox/build/XavierSandbox.ino.eep
XavierSandbox/build/XavierSandbox.ino.elf
XavierSandbox/build/XavierSandbox.ino.hex
XavierSandbox/build/XavierSandbox.ino.with_bootloader.bin
XavierSandbox/build/XavierSandbox.ino.with_bootloader.hex
XavierSandbox/build/core/abi.cpp.d
XavierSandbox/build/core/abi.cpp.o
XavierSandbox/build/core/CDC.cpp.d
XavierSandbox/build/core/CDC.cpp.o
XavierSandbox/build/core/core.a
XavierSandbox/build/core/HardwareSerial.cpp.d
XavierSandbox/build/core/HardwareSerial.cpp.o
XavierSandbox/build/core/HardwareSerial0.cpp.d
XavierSandbox/build/core/HardwareSerial0.cpp.o
XavierSandbox/build/core/HardwareSerial1.cpp.d
XavierSandbox/build/core/HardwareSerial1.cpp.o
XavierSandbox/build/core/HardwareSerial2.cpp.d
XavierSandbox/build/core/HardwareSerial2.cpp.o
XavierSandbox/build/core/HardwareSerial3.cpp.d
XavierSandbox/build/core/HardwareSerial3.cpp.o
XavierSandbox/build/core/hooks.c.d
XavierSandbox/build/core/hooks.c.o
XavierSandbox/build/core/IPAddress.cpp.d
XavierSandbox/build/core/IPAddress.cpp.o
XavierSandbox/build/core/main.cpp.d
XavierSandbox/build/core/main.cpp.o
XavierSandbox/build/core/new.cpp.d
XavierSandbox/build/core/new.cpp.o
XavierSandbox/build/core/PluggableUSB.cpp.d
XavierSandbox/build/core/PluggableUSB.cpp.o
XavierSandbox/build/core/Print.cpp.d
XavierSandbox/build/core/Print.cpp.o
XavierSandbox/build/core/Stream.cpp.d
XavierSandbox/build/core/Stream.cpp.o
XavierSandbox/build/core/Tone.cpp.d
XavierSandbox/build/core/Tone.cpp.o
XavierSandbox/build/core/USBCore.cpp.d
XavierSandbox/build/core/USBCore.cpp.o
XavierSandbox/build/core/WInterrupts.c.d
XavierSandbox/build/core/WInterrupts.c.o
XavierSandbox/build/core/wiring_analog.c.d
XavierSandbox/build/core/wiring_analog.c.o
XavierSandbox/build/core/wiring_digital.c.d
XavierSandbox/build/core/wiring_digital.c.o
XavierSandbox/build/core/wiring_pulse.c.d
XavierSandbox/build/core/wiring_pulse.c.o
XavierSandbox/build/core/wiring_pulse.S.d
XavierSandbox/build/core/wiring_pulse.S.o
XavierSandbox/build/core/wiring_shift.c.d
XavierSandbox/build/core/wiring_shift.c.o
XavierSandbox/build/core/wiring.c.d
XavierSandbox/build/core/wiring.c.o
XavierSandbox/build/core/WMath.cpp.d
XavierSandbox/build/core/WMath.cpp.o
XavierSandbox/build/core/WString.cpp.d
XavierSandbox/build/core/WString.cpp.o
XavierSandbox/build/preproc/ctags_target_for_gcc_minus_e.cpp
XavierSandbox/build/sketch/XavierSandbox.ino.cpp
XavierSandbox/build/sketch/XavierSandbox.ino.cpp.d
XavierSandbox/build/sketch/XavierSandbox.ino.cpp.o
XavierSandbox/build/sketch/.vscode/arduino.json
XavierSandbox/build/sketch/.vscode/c_cpp_properties.json
